@media (max-width: 768px) {
  #ui {
    padding: 10px 5px;
    padding-bottom: 0;
  }
  #countdown {
    font-size: 3em;
  }
  a {
    font-size: 5em;
    width: 300px;
  }
}

@media (max-width: 610px) {
  #username,
  #userhouse {
    display: none;
  }
  .scoreContainer {
    width: 100px;
  }
  .metaData > p:first-child {
    display: none;
  }
  button {
    width: 300px;
  }
  #countdown {
    width: 100%;
    text-wrap: nowrap;
    font-size: 2em;
  }
  p {
    font-size: 0.8em;
  }
}

@media (max-width: 370px) {
  p {
    font-size: 0.6em;
  }
}
