@media (max-width: 769px) {
  #ui {
    padding: 10px 5px;
    padding-bottom: 0;
  }
  #countdown > p {
    font-size: 6em;
  }
  #countdown > button {
    font-size: 3em;
    text-wrap: nowrap;
    padding: 20px 50px;
  }
  #countdown > label {
    font-size: 2em;
    text-wrap: nowrap;
  }
}

@media (max-width: 610px) {
  #username,
  #userhouse {
    display: none;
  }
  .scoreContainer {
    width: 100px;
  }
  .metaData > p:first-child {
    display: none;
  }
  button {
    width: 300px;
  }
  #countdown {
    width: 100%;
    text-wrap: nowrap;
  }
  #countdown > p {
    font-size: 4em;
  }
  #countdown > button {
    font-size: 2em;
    text-wrap: nowrap;
    padding: 20px 20px;
  }
  #countdown > label {
    font-size: 1.5em;
    text-wrap: nowrap;
  }
}

@media (max-width: 370px) {
  #countdown > p {
    font-size: 3.5em;
  }
  #countdown > button {
    font-size: 2em;
    text-wrap: nowrap;
    padding: 20px 10px;
  }
  #countdown > label {
    font-size: 1.2em;
    text-wrap: nowrap;
  }
}
