*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: slategrey;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro {
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: paleturquoise;
  border: 5px solid white;
  border-radius: 20px;
  gap: 5%;
}

#intro > h1 {
  font-size: 4em;
  margin: 0;
}

#intro > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#inputBox > input {
  font-size: 2em;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: 3px solid black;
}

#intro > form > button {
  font-size: 3em;
  padding: 10px 70px;
  border-radius: 10px;
  border: none;
  outline: 3px solid black;
}

#intro > form > button:hover {
  background-color: black;
  outline: 3px solid white;
  color: white;
  cursor: pointer;
}

.invalid {
  outline: 3px solid red !important;
  position: relative;
}

#inputBox {
  position: relative;
}

#inputBox > label {
  display: none;
  position: absolute;
  color: red;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  text-wrap: nowrap;
}

select {
  padding: 10px 20px;
  font-size: 1.2em;
}
